<!DOCTYPE html>
<html lang="en">
<head>
	<title>HIDJA by @rhidja</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('styles/kube.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('styles/font-awesome.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('styles/custom.min.css') }}" />

		<style>
			.intro h1:before {
				/* Edit this with your name or anything else */
				content: 'HIDJA';
			}
		</style>
	{% endblock %}

	{% block javascripts %}
		<!-- Javascript -->
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/typed.min.js') }}"></script>
		<script src="{{ asset('js/kube.min.js') }}"></script>
		<script src="{{ asset('js/site.js') }}"></script>

		<script>
			function newTyped(){}$(function(){$("#typed").typed({
				// Change to edit type effect
				strings: ["Symfony", "Ibexa", "Sonata"],

				typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
		</script>
	{% endblock %}

</head>

<body>
<!-- Navigation -->
<div class="main-nav">
	<div class="container">
		<header class="group top-nav">
			<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				<span class="logo">DRACO</span>
			</div>
			<nav id="navbar-1" class="navbar item-nav">
				<ul>
					<li class="active"><a href="#about">About</a></li>
					<li><a href="#experiences">Education</a></li>
					<li><a href="#achievements">Achievements</a></li>
					<li><a href="#skills">Skills</a></li>
				</ul>
			</nav>
		</header>
	</div>
</div>

<!-- Introduction -->
<div class="intro section" id="about">
	<div class="container">
		<p>Hi, I’m Ramtane HIDJA</p>
		<div class="units-row units-split wrap">
			<div class="unit-20">
				<img src="{{ asset('img/ava.png') }}" alt="Avatar">
			</div>
			<div class="unit-80">
				<h1>Expérimenté<br><span id="typed"></span></h1>
			</div>
			<p>
				As a passionate senior web developer, I have gained extensive experience working on a wide range of
				projects for large companies, specializing in the Symfony framework and the Ibexa CMS.
			</p>
		</div>
	</div>
</div>

<!-- Work Experience -->
<div class="work section second" id="experiences">
	<div class="container">
		<h1>Work<br>Experiences</h1>
		<ul class="work-list">
			<li>2020-present</li>
			<li><a href="#">Groupe Smile</a></li>
			<li>Senior Web Developer</li>
		</ul>
		<ul class="work-list">
			<li>2018-2020</li>
			<li><a href="#">Imaios</a></li>
			<li>Web Developer</li>
		</ul>
		<ul class="work-list">
			<li>2017</li>
			<li><a href="#">Medicodose Systems</a></li>
			<li>Web Developer</li>
		</ul>
		<ul class="work-list">
			<li>2014-2016</li>
			<li><a href="#">Poisson Soluble(LRVP)</a></li>
			<li>Web Developer</li>
		</ul>
	</div>
</div>

<!-- Award & Achievements -->
<div class="award section second" id="achievements">
	<div class="container">
		<h1>Certifications &amp;<br>Education</h1>
		<ul class="award-list list-flat">
			<li>January 2014</li>
			<li>Attained Ibexa DXP 4.1 certification</li>
			<li>Hold world/Olympic record</li>
		</ul>
		<ul class="award-list list-flat">
			<li>Juin 2014</li>
			<li>Master 2 Computer Sience</li>
			<li>Montpellier University (France)</li>
		</ul>

		<ul class="award-list list-flat">
			<li>Juin 2014</li>
			<li>Master 2 Computer Sience</li>
			<li>Montpellier University (France)</li>
		</ul>
	</div>
</div>

<!-- Technical Skills -->
<div class="skills section second" id="skills">
	<div class="container">
		<h1>Technical<br>Skills</h1>
		<ul class="skill-list list-flat">
			<li>Framwork & CMS</li>
			<li>Symfony 2 to 7 / Sonata 4 / Ibexa & EzPlatform / Sylius</li>
		</ul>

		<ul class="skill-list list-flat">
			<li>Web Technology</li>
			<li>PHP / Javascript / HTML / CSS / SASS</li>
		</ul>

		<ul class="skill-list list-flat">
			<li>Database</li>
			<li>MySQL / PostgresSQL / MongoDB</li>
		</ul>

		<ul class="skill-list list-flat">
			<li>DevOps</li>
			<li>Docker / Linux / Ansible / Gitlab CI&CD </li>
		</ul>
	</div>
</div>

<!-- Quote -->
<div class="quote">
	<div class="container text-centered">
		<h1>fight against the ugliness.</h1>
	</div>
</div>

<footer>
	<div class="container">
		<div class="units-row">
			<div class="unit-50">
				<p>Handcrafted by Afnizar Nur Ghifari</p>
			</div>
			<div class="unit-50">
				<ul class="social list-flat right">
					<li><a href="mailto:afnizarhilmi@gmail.com"><i class="fa fa-send"></i></a></li>
					<li><a href="http://twitter.com/afnizarnur"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://dribbble.com/afnizarnur"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="http://behance.com/afnizarnur"><i class="fa fa-behance"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
